.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.card-category-wrap {
  text-decoration: none;
}

.card .comment {
  margin-bottom: 0;
  &:before {
    font: var(--fa-font-solid);
    content: "\f10d";
    margin-right: 8px;
  }
  &:after {
    font: var(--fa-font-solid);
    content: "\f10e";
    margin-left: 8px;
  }
}
